body {
  margin: 0px;
}

/* FIXME -> replace w/ app container @ deployment */
html {
  box-sizing: border-box;
  
  background: #ffc600;

  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}

*, *:before, *:after {
  box-sizing: inherit;
}
